@font-face {
  font-family: 'ubuntu';
  src:  url('fonts/ubuntu-fonts/Ubuntu-Bold.ttf');
  src: url('fonts/ubuntu-fonts/Ubuntu-Light.ttf') format('woff'),
    url('fonts/ubuntu-fonts/Ubuntu-Medium.ttf'),
    url('fonts/ubuntu-fonts/Ubuntu-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}